<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WhatsApp Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <!-- HEADER BACKGROUND -->
    <header>
    </header>
    <!-- SECTION CENTER -->
    <div class="section">
    </div>
    <!-- CONTAINER MAIN -->
    <main id="app" class="container">
      <section class="contacts">
        <!-- INFO USERNAME AND ICON CONTACT -->
        <div class="username">
          <!-- avatar -->
          <div class="avatar">
            <img src="img/avatar_io.jpg" alt="Avatar">
            <h5>Nome Utente</h5>
          </div>
          <!-- Icon -->
          <div class="icon-right">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- SECTION DISABLE NOTIFICATIONS -->
        <div class="notification">
          <i class="fas fa-bell-slash"></i>
          <div class="text">
            <h5>Ricevi notifiche di nuovi messaggi</h5>
            <h6>Attiva le notifiche desktop</h6>
          </div>
        </div>
        <!-- SEARCH FOR A NEW CHAT -->
        <div class="search-input">
          <input v-model="search" type="search" name="" placeholder="Cerca o inizia una nuova chat">
          <i class="fas fa-search"></i>
        </div>
        <!-- RECENT CHAT -->
        <div class="recent-chat">
          <!-- 1° chat -->
          <div v-for="(list, i) in contacts" v-if="list.name.toLowerCase().includes(search.toLowerCase())" @click="chatActive(i)" :class="{'chat-color': i==index}" class="chat">
            <div class="name-img">
              <img :src="list.img" alt="Avatar">
              <div class="text-info">
                <h4>{{list.name}}</h4>
                <h5>{{list.message[list.message.length - 1].text}}</h5>
              </div>
            </div>
            <div class="date">
              <h6>{{list.message[list.message.length - 1].date}}</h6>
            </div>
          </div>
        </div>
      </section>
      <!-- SECTION MESSAGGE -->
      <section class="message">
        <!-- header info msg -->
        <div class="block-info">
          <div class="avt-img">
            <img :src="contacts[index].img" alt="Avatar">
            <div class="msg-info">
              <h4>{{contacts[index].name}}</h4>
              <h5>Ultimo accesso alle {{contacts[index].message[contacts[index].message.length-1].date}}</h5>
            </div>
          </div>
          <!-- icon setting msg -->
          <div class="i-msg">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- BACKGROUND IMAGE AND MSG INVIATI -->
        <div class="background-msg">
          <div v-for="chat in contacts[index].message" :class="chat.modality=='exit' ? 'msg-send' : 'msg-received'">
            <i class="fas fa-chevron-down"></i>
            <h4>{{chat.text}}</h4>
            <h6>{{chat.date}}</h6>
          </div>
        </div>
        <!-- SECTION EMOTICON AND INPUT WRITING MSG -->
        <div class="write-msg">
          <i class="far fa-smile"></i>
          <input v-model="msg" @keyup.enter="enterMessage" type="text" name="" placeholder="Scrivi un messaggio">
          <i @click="enterMessage" class="fas fa-microphone"></i>
        </div>
      </section>
    </main>
    <script src="js/script.js"></script>
  </body>
</html>
