/* GENERAL RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* BACKGROUND BLOCK RULES */
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background-color: #049688;
  z-index: -1;
}

.section {
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  height: calc(100vh - 130px);
  background-color: #dbdbd2;
  z-index: -1;
}

/* CONTAINER MAIN RULES */
.container {
  width: 70%;
  margin: 30px auto;
  height: 90vh;
  z-index: 10;
}

.contacts {
  float: left;
  width: 35%;
  height: 100%;
}

/* INFO USERNAME AND ICON CONTACT RULES */
.username {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 10px;
  background-color: #eaeaea;
  border-right: 1.3px solid #dbdbd2;
}

.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar img {
  width: 55px;
  margin-right: 10px;
  border-radius: 50%;
}

.icon-right {
  display: flex;
  align-items: center;
}

.icon-right i {
  font-size: 22px;
  color: #b1b1b1;
  margin-right: 20px;
}

.icon-right i:nth-child(3) {
  margin-right: 10px;
}

/* SECTION DISABLE NOTIFICATIONS RULES */
.notification {
  display: flex;
  align-items: center;
  height: 85px;
  padding: 0 15px;
  background-color: #8fdafc;
}

.notification i {
  font-size: 30px;
  color: #8fdafc;
  padding: 12px 8px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.text {
  display: flex;
  flex-direction: column;
}

.text h5 {
  font-size: 15px;
}

.text h6 {
  font-size: 12px;
  color: #4f7485;
  text-decoration: underline;
}

/* SEARCH FOR A NEW CHAT RULES */
.search-input {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px 0;
  background-color: #fafafa;
}

.search-input input {
  width: 470px;
  height: 35px;
  text-indent: 60px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
}

.search-input i {
  position: absolute;
  top: 18px;
  left: 30px;
  font-size: 20px;
  color: #b6b9bb;
}

/* RECENT CHAT RULES */
.recent-chat {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: calc(100% - 220px);
  overflow: auto;
}

.chat {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 13px 10px;
  border-bottom: 1px solid #f5f5f5;
}

.chat:hover {
  background-color: #e9ebeb;
}

.chat-color {
  background-color: #e9ebeb;
}

.name-img img {
  width: 70px;
  margin-right: 10px;
  border-radius: 50%;
}

.name-img {
  display: flex;
}

.text-info > h4 {
  margin-bottom: 5px;
}

.text-info > h5 {
  color: #b6b9bb;
}

.date {
  display: flex;
  justify-content: flex-end;
}

.date h6 {
  color: #b6b9bb;
}

/* ---------- */
/* SECTION MESSAGE */
.message {
  float: left;
  width: 65%;
  height: 100%;
}

/* HEADER INFO MSG RULES */
.block-info {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 10px 0 10px 10px;
  background-color: #eaeaea;
}

.avt-img {
  display: flex;
}

.avt-img img {
  width: 58px;
  margin-right: 10px;
  border-radius: 50%;
}

.i-msg {
  display: flex;
  align-items: center;
}

.msg-info {
  padding: 8px 0;
}

.msg-info h5 {
  color: #6f777a;
}

.i-msg i {
  font-size: 22px;
  margin-right: 20px;
  color: 	#b1b1b1;
}

/* BACKGROUND IMAGE ANG MSG RULES */
.background-msg {
  background: url(img/mine.jpg);
  height: calc(100% - 150px);
  padding: 25px 40px;
  overflow: auto;
}

.background-msg i {
  text-align: right;
  font-size: 16px;
  color: #6b7376;
}

.msg-send {
  position: relative;
  float: right;
  clear: both;
  background-color: #d5f9ba;
  min-height: 70px;
  min-width: 48%;
  max-width: 60%;
  border-radius: 10px;
  padding: 0 12px;
  margin-bottom: 10px;
}

.msg-send h4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 3px;
  font-weight: 500;
}

.msg-send h6 {
  position: absolute;
  top: 90%;
  right: 2%;
  transform: translateY(-90%);
  color: #b6b9bb;
  text-align: right;
  font-weight: 500;
}

.msg-received {
  position: relative;
  float: left;
  clear: both;
  background-color: #ffffff;
  min-height: 80px;
  min-width: 48%;
  max-width: 60%;
  border-radius: 10px;
  padding: 0 12px;
  margin-bottom: 10px;
}

.msg-received h4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 3px;
  font-weight: 500;
}

.msg-received h6 {
  position: absolute;
  top: 90%;
  right: 2%;
  transform: translateY(-90%);
  color: #b6b9bb;
  text-align: right;
  font-weight: 500;
}

/* SECTION EMOTICON AND INPUT WRITING MSG RULES */
.write-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 75px;
  background-color: #f3eeea;
  border-left: 1.3px solid #e2e2e2;
}

.write-msg i {
  font-size: 25px;
  color: #6b7376;
}

.write-msg input {
  width: 85%;
  height: 45px;
  text-indent: 15px;
  font-weight: 300;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

/* ------- */
/* MEDIA QUERY */
@media all and (min-width: 970px) and (max-width: 1239px) {
  .icon-right i {
    font-size: 18px;
    margin-right: 15px;
  }

  .icon-right i:nth-child(3) {
    margin-right: 5px;
  }

  .notification i {
    font-size: 22px;
    padding: 12px 10px;
  }

  .text h5 {
    font-size: 12px;
  }

  .text h6 {
    font-size: 10px;
  }

  .search-input i {
    left: 20px;
  }

  .name-img img {
    width: 55px;
    height: 55px;
  }

  .text-info > h4 {
    font-size: 13px;
  }

  .date h6 {
    font-size: 10px;
  }

  .avt-img img {
    width: 52px;
    height: 52px;
  }

  .msg-info h4 {
    font-size: 13px;
  }

  .msg-info h5 {
    font-size: 12px;
  }

  .i-msg i {
    font-size: 18px;
    margin-right: 15px;
  }

  .msg-send h4 {
    font-size: 14px;
  }

  .msg-received h4 {
    font-size: 14px;
  }
}
